.HeroSection{
    width: 100%;
    position: relative;
    overflow: hidden;
    /* height: 1155px; */
    height: 1230px;
    background-color: #070707;
}

.hero_section_widgets img{
    /* width: ; */
}


.hero_section_widgets{
    width: 1320px;
    height: 500px;
    position: absolute;
    /* background-color: white; */
    /* bottom: 177px; */
    bottom: 227px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    /* opacity: 0; */
    
}

.hero_section_widgets .profitability_img{
    position: absolute;
    top: 0px;
    left: 50px;

    transform: translateY(-0.5%);
    animation: profitability_floater  2.5s infinite;
    transition: ease 0.5s;
}
.hero_section_widgets .revenue_img{
    position: absolute;
    bottom: 0px;
    left: -35px;

    transform: translateY(-0.5%);
    animation: floater 3s infinite;
    transition: ease 0.5s;
}
.hero_section_widgets .totalAssets_img{
    position: absolute;
    bottom: -150px;
    left: 29.5%;
    /* transform: translateX(-50%); */
    transform: translateY(-0.5%);
    animation: floater 3.6s infinite;
    transition: ease 0.5s;
}
.hero_section_widgets .cashflow_img{
    position: absolute;
    top: 40px;
    right: 30px;


    transform: translateY(-0.8%);
    animation: cashflow_floater 3s infinite;
    transition: ease 0.5s;

}

@keyframes cashflow_floater {
    0%{transform: translateY(-0.8%);transition: ease-in-out 0.5s;}
    50%{transform: translateY(0.8%);transition: ease-in-out 0.5s;}
}

@keyframes floater {
    0%{transform: translateY(-0.5%);transition: ease-in-out 0.5s;}
    50%{transform: translateY(0.5%);transition: ease-in-out 0.5s;}
}

@keyframes profitability_floater {
    0%{transform: translateY(-0.5%);transition: ease-in-out 0.5s;}
    50%{transform: translateY(0.5%);transition: ease-in-out 0.5s;}
}






/* .HeroSection:hover .hero_section_background{
    transform: translateX(0);
    opacity: 1;
} */



.hero_section_background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    /* transform: translateY(50%); */
    z-index: 0;
    transition: transform 1s ease;
    animation: sunAnimation 2.5s;
}





/* @keyframes sunAnimation {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0%);
    }
  }


/* Add this class to stop the animation after it's played once 
.animation-done {
    animation: none !important;
    transform: translateY(0%);
  } */




.hero_section_background img{
    width: 100%;   
    min-height: 100%;
    object-fit: cover;
}

.hero_section_description{
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translateX(-50%);
    color: #F4F4F4;
    text-align: center;
    width: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: transform .8s ease;
}

.hero_section_description h1{
    margin: 16px 0px !important;
    font-weight: 800;
}

.hero_section_description h2{
    font-weight: 800;
}

.hero_section_description h2.light_font_weight{
    font-weight: 400;
    line-height: 160%;
    /* padding: 4px 0px; */
}


.hero_section_action_btns{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.hero_section_advantages{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 36px 0px;
    background-color: #F9F9F9;
    border-radius: 533px 533px 0px 0px;
    box-shadow: 7px 25px 40.9px 0px rgba(5, 26, 69, 0.12) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.hero_section_advantages_container{
    width: 1076px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_section_advantages_container .advantages_card{
    width: calc(25% - 30px);
    padding: 29px 23px;
}

.advantages-divider{
    width: 2px;
    height: 120.5px;
    background-color: #D7D7D7;
}

.hero_section_advantages_container .advantages_card h1{
    color: #3F0B50;
    font-weight: 800;
    line-height: 129.9%;
    letter-spacing: -2.7px;
}

.hero_section_advantages_container .advantages_card p{
    color: #7A7A7A;
    margin-top: 10px;
    font-weight: 600;
    opacity: 0.9;
}


.resp_hero_section_widgets{
    display: none;
}






@media screen and (max-width: 1200px){
    .hero_section_advantages_container{
        width: 80%;
    }
}


@media screen and (max-width: 1000px){
    .hero_section_advantages_container{
        width: 80%;
    }


    .hero_section_advantages_container{
        width: 100%;
        flex-wrap: wrap;
    }

    .hero_section_advantages{
        border-radius: 50px 50px 0px 0px;
    }

    .hero_section_advantages_container .advantages_card{
        width: calc(50% - 6px);
        text-align: center;
        padding: 16px;
    }

    .advantages-divider{
        width: 2px;
        height: 30px;
    }
}





@media screen and (max-width: 600px){

    .hero_section_description{
        position: absolute;
        top: 108px;
    }

    .HeroSection{
        width: 100%;
        height: 910px;
    }

    .hero_section_background{
        width: 100%;
        overflow: hidden;
    }

    .divider{
        display: none;
    }

    .hero_section_background img{
        /* display: none; */
        width: 100%;  
        height: 100vh; 
        object-fit: cover;
    }

    .hero_section_description{
        width: 100%;
        padding: 0px 10px;
    }

    .hero_section_action_btns{
        margin-top: 24px;
    }

    .hero_section_widgets{
        display: none;
    }

    .resp_hero_section_widgets{
        display: flex;
        position: absolute;
        top: 410px;
        width: 100%;
        z-index: 11;
    }

    .resp_hero_section_widgets img{
        height: 250px;
        margin-right: 32px;
        /* object-fit: contain; */
    }

    .hero_section_advantages{
        z-index: 12;
        padding: 16px 0px 16px 0px;
    }

    /* .hero_section_advantages{
        border-radius: 50px 50px 0px 0px;
    }

    .hero_section_advantages_container{
        width: 100%;
        flex-wrap: wrap;
    }

    .hero_section_advantages_container .advantages_card{
        width: calc(50% - 6px);
        text-align: center;
        padding: 16px;
    }

    .advantages-divider{
        width: 2px;
        height: 30px;
    } */

}



/* @media screen and (max-width: 370px){

    .hero_section_description h2.light_font_weight{
        padding: 0px 40px;
    }

} */