.Input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
    padding: 0px 5px;
}


.Input label{
    color: #17191C;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.Input input{
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    margin-top: 6px;
    background: #FAFAFA;
    border: 1px solid #959595;
    outline: none;
}

@media screen and (max-width: 600px){

    .Input{
        margin-bottom: 16px !important;
    }

    .Input label{
        font-size: 16px;
    }

    .Input input{
        width: 100%;
        padding: 10px 16px;
        font-size: 16px;
    }
}