.DayxHelps{
    padding: 140px 20px;
    display: flex;
    justify-content: center;
}

.DayxHelps_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 140px; */
}

.dayxHelps_container1 h1{
    font-weight: 500;
    width: 590px;
}

.dayxHelps_container1 h1 span{
    background: linear-gradient(181deg, #16A3B5 53.12%, #2ADBC2 116.64%); 
    background-clip: text !important; 
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.dayxHelps_container2{
    width: 600px;
    padding: 0px 5px;
}

.dayxHelps_container2 h2{
    font-weight: 700;
    margin-bottom: 16px !important;
}

.dayHelps_Points{
    display: flex;
    align-items: flex-start;
    margin-bottom: 9px;
}

.dayHelps_Points .marker{
    min-width: 5px;
    min-height: 5px;
    background-color: #404040;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 20px;
}

.dayHelps_Points h3{
    color: #8D8787;
    line-height: 172.4%;
}

.dayxHelps_container1 h1 br.br2{
    display: none;
}

.fadeOut {
    opacity: 0;
}
  
.fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#greeting {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
  
#greeting.fadeOut {
    opacity: 0;
}


#dayHelps_Points {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
  
#dayHelps_Points.fadeOut {
    opacity: 0;
}

/* .dayxHelps_container2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .dayxHelps_container2.active {
    opacity: 1;
  } */

@media screen and (max-width: 930px){
    .DayxHelps_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 48px;
    }

    .dayxHelps_container1 h1 br.br1{
        display: none;
    }

    .dayxHelps_container1 h1 br.br2{
        display: block;
    }

    .dayxHelps_container2{
        width: 100%;
        padding: 20px;
        border-radius: 14px;
        border: 1px solid #DDD;
        background: radial-gradient(107.55% 104.34% at 53.95% 97.99%, #F1F1F1 0%, #FFF 94.32%), rgba(228, 228, 228, 0.10);
        box-shadow: 0px 4px 40px 2px rgba(255, 255, 255, 0.05) inset;
        backdrop-filter: blur(35.70000076293945px);
    }

    .dayxHelps_container1 h1{
        font-weight: 500;
        text-align: center;
        line-height: 160%;
    }
}


@media screen and (max-width: 600px){

    .DayxHelps{
        padding: 72px 16px 36px 16px;
    }

    .DayxHelps_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 48px;
    }

    .dayxHelps_container1 h1{
        font-weight: 500;
        text-align: center;
        width: 100%;
    }

    /* .dayxHelps_container1 h1 br.br1{
        display: none;
    }

    .dayxHelps_container1 h1 br.br2{
        display: block;
    } */

    .dayxHelps_container2{
        padding: 20px;
        border-radius: 14px;
        border: 1px solid #DDD;
        background: radial-gradient(107.55% 104.34% at 53.95% 97.99%, #F1F1F1 0%, #FFF 94.32%), rgba(228, 228, 228, 0.10);
        box-shadow: 0px 4px 40px 2px rgba(255, 255, 255, 0.05) inset;
        backdrop-filter: blur(35.70000076293945px);
    }


    .dayHelps_Points h3{
        font-size: 14px !important;
    }


    .dayHelps_Points .marker{
        margin-top: 10px;
    }

}