.OurSupporters{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #0F0F10; */
    padding: 101px 20px;
    overflow: hidden;
}

.OurSupporters_container h1{
    text-align: center;
    color: #FFF;
    line-height: 160%;
    z-index: 10;
}

.OurSupporters_container h1 br{
    display: none;
}

.OurSupporters_container h1 span{
    font-weight: 800;
    color: #959595;;
}

.OurSupporters_carousel_container{
    margin-top: 48px;
    width: 100%;
    /* height: 100px; */
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.rfm-marquee-container{
    z-index: -1;
}

.OurSupporters_carousel_container .rfm-marquee-container img{
    margin-right: 24px;
    width: 233px;
}

.OurSupporters_carousel_container .leftBlurDiv{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    width: 100px;
    height: 300px;
    background: #131519;
    filter: blur(20px);

}

.OurSupporters_carousel_container .rightBlurDiv{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 100px;
    height: 300px;
    background: #131519;
;
    filter: blur(20px);
}


@media screen and (max-width: 950px){
    .OurSupporters_carousel_container .rightBlurDiv,.leftBlurDiv{
        height: 100%;
    }
}




@media screen and (max-width: 600px){

    .OurSupporters_carousel_container .rightBlurDiv,.leftBlurDiv{
        display: none;
    }

    .OurSupporters{
        padding: 36px 16px !important;
    }

    .OurSupporters_container h1 br{
        display: block;
    }

    .OurSupporters_carousel_container{
        margin-top: 24px;
        overflow: hidden;
    }

    .OurSupporters_carousel_container .rfm-marquee{
        height: max-content;
    }

    .OurSupporters_carousel_container .rfm-marquee-container img{
        margin-right: 24px;
        width: 180px;
    }
}