.Footer{
    width: 100%;
    background: #141519;
    backdrop-filter: blur(35.70000076293945px);
    padding: 26px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
}

.Footer_container{
    text-align: center;
    position: relative;
}

.Footer_container img{
    position: absolute;
    top: -50%;
    left: 0px;
}

.Footer_container h4{
    color: #BABABA;
}