@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif !important;
}
body{
  position: relative;
}
/* 
:root {
  --main-bg-color: brown;
} */

.section-container{
  width: 1244px;
}

h1{
  font-size: 54px !important;
  font-style: normal;
  line-height: 120%;
  margin-bottom: 0px !important;
}

h2{
  font-size: 32px !important;
  font-style: normal;
  line-height: 120%;
  margin-bottom: 0px !important;
}


h3{
  font-size: 24px !important;
  font-style: normal;
  line-height: 150%;
  margin-bottom: 0px !important;
}

h4{
  font-size: 20px !important;
  font-style: normal;
  margin-bottom: 0px !important;
}

p{
  font-size: 18px !important;
  font-style: normal;
  /* line-height: 140%;  */
  margin-bottom: 0px !important;
}

@media screen and (min-width: 1400px){

  .section-container{
    width: 1333px;
  }

}

@media screen and (max-width: 1220px){

  .section-container{
    width: 100%;
  }
  
}


@media screen and (max-width: 900px){

  h1{
    font-size: 32px !important;
  }
  
  h2{
    font-size: 24px !important;
  }

}


@media screen and (max-width: 600px){

  .section-container{
    width: 100%;
  }

  h1{
    font-size: 24px !important;
  }
  
  h2{
    font-size: 18px !important;
  }
  
  h3{
    font-size: 18px !important;
  }
  
  h4{
    font-size: 20px !important;
  }
  
  p{
    font-size: 14px !important;
  }

}
